/* Обычное состояние ссылки */
#hyperLink {
    color: #007bff; /* Цвет текста ссылки (обычно синий) */
    text-decoration: none; /* Убираем подчеркивание */
    transition: color 0.2s; /* Плавный переход цвета при наведении */
}

/* Состояние ссылки при наведении */
 #hyperLink:hover {
    color: #0056b3; /* Измененный цвет при наведении */
    text-decoration: underline; /* Добавляем подчеркивание при наведении */
}

/* Состояние ссылки при нажатии */
 #hyperLink:active {
    color: #003366; /* Цвет при нажатии */
}
